<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>（A）.class</string>
		<string>（B）.java</string>
		<string>（C）.cpp</string>
		<string>（D）.txt </string>
	</array>
	<array>
		<string>（A）0</string>
		<string>（B）3</string>
		<string>（C）8</string>
		<string>（D）-1</string>
	</array>
	<array>
		<string>（A）a[0];</string>
		<string>（B）a[a.length-1];</string>
		<string>（C）a[3];</string>
		<string>（D）int i=1； a[i];</string>
	</array>
	<array>
		<string>（A）封装</string>
		<string>（B）继承</string>
		<string>（C）覆盖</string>
		<string>（D）重载</string>
	</array>
	<array>
		<string>（A）保护成员变量</string>
		<string>（B）读取类的成员变量 </string>
		<string>（C）描述类的特征 </string>
		<string>（D）初始化成员变量 </string>
	</array>
	<array>
		<string>（A）try</string>
		<string>（B）break</string>
		<string>（C）catch</string>
		<string>（D）finally</string>
	</array>
	<array>
		<string>（A）类是对象的抽象</string>
		<string>（B）对象是类的抽象</string>
		<string>（C）对象是类的子类</string>
		<string>（D）类是对象的具体实例</string>
	</array>
	<array>
		<string>（A）$persons</string>
		<string>（B）twoNum</string>
		<string>（C）_myVar</string>
		<string>（D）*point</string>
	</array>
	<array>
		<string>（A）static  void  method( )</string>
		<string>（B）public  void  method( )</string>
		<string>（C）final  void  method( )</string>
		<string>（D）abstract  void  method( )</string>
	</array>
	<array>
		<string>（A）ArrayList myList=new Object( ) </string>
		<string>（B）List myList=new ArrayList( )</string>
		<string>（C）ArrayList myList=new List( ) </string>
		<string>（D）List myList=new List( )</string>
	</array>
</array>
</plist>
