<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Web开发 前台测试</string>
	<string>Oracle PL实战测试</string>
	<string>Java 面向对象开发设计测试</string>
	<string>Web开发 前台测试</string>
	<string>Oracle PL实战测试</string>
	<string>Java 面向对象开发设计测试</string>
</array>
</plist>
