<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imgUrl</key>
	<string>http://img4.imgtn.bdimg.com/it/u=1310503396,2596388706&amp;fm=23&amp;gp=0.jpg</string>
</dict>
</plist>
