<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CCnum</key>
		<integer>1</integer>
		<key>CCname</key>
		<string>项目引导</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>1.1</string>
				<key>CVid</key>
				<integer>0</integer>
				<key>CVname</key>
				<string>信用卡幸运卡号自动组编筛选项目介绍</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>2</integer>
		<key>CCname</key>
		<string>认识java</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>2.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>2.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>2.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>2.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>2.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>3</integer>
		<key>CCname</key>
		<string>变量与运算符</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>3.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>3.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>3.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>3.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>3.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>4</integer>
		<key>CCname</key>
		<string>流程控制语句</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>4.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>4.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>4.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>4.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>4.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>5</integer>
		<key>CCname</key>
		<string>数组</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>5.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>5.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>5.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>5.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>5.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>6</integer>
		<key>CCname</key>
		<string>方法定义及调用</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>6.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>6.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>6.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>6.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>6.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>7</integer>
		<key>CCname</key>
		<string>面向对象基础</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>7.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>7.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>7.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>7.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>7.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>8</integer>
		<key>CCname</key>
		<string>面向对象高级特性</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>8.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>8.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>8.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>8.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>8.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>9</integer>
		<key>CCname</key>
		<string>异常处理</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>9.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>9.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>9.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>9.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>9.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CCnum</key>
		<integer>10</integer>
		<key>CCname</key>
		<string>工具类</string>
		<key>CCvideo</key>
		<array>
			<dict>
				<key>CVnum</key>
				<string>10.1</string>
				<key>CVid</key>
				<integer>1</integer>
				<key>CVname</key>
				<string>java简介</string>
				<key>CVtime</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>10.2</string>
				<key>CVid</key>
				<integer>2</integer>
				<key>CVname</key>
				<string>java特点</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>10.3</string>
				<key>CVid</key>
				<integer>3</integer>
				<key>CVname</key>
				<string>java环境搭建</string>
				<key>CVtime</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>10.4</string>
				<key>CVid</key>
				<integer>4</integer>
				<key>CVname</key>
				<string>第一个java程序</string>
				<key>CVtime</key>
				<integer>22</integer>
			</dict>
			<dict>
				<key>CVnum</key>
				<string>10.5</string>
				<key>CVid</key>
				<integer>5</integer>
				<key>CVname</key>
				<string>章节测试</string>
				<key>CVtime</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
