<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CSnum</key>
		<integer>1</integer>
		<key>CSname</key>
		<string>Java技术基础</string>
		<key>CScontent</key>
		<array>
			<dict>
				<key>courseID</key>
				<integer>0</integer>
				<key>courseName</key>
				<string>Java面向对象开发设计</string>
				<key>courseImageUrl</key>
				<string>J0</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>1</integer>
				<key>courseName</key>
				<string>Oracle数据库技术</string>
				<key>courseImageUrl</key>
				<string>J1</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>2</integer>
				<key>courseName</key>
				<string>JavaSE核心技术</string>
				<key>courseImageUrl</key>
				<string>J2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CSnum</key>
		<integer>2</integer>
		<key>CSname</key>
		<string>Java Web开发</string>
		<key>CScontent</key>
		<array>
			<dict>
				<key>courseID</key>
				<integer>3</integer>
				<key>courseName</key>
				<string>Web开发-前台设计
第1章、项目引导
新员工信息录入项目介绍
第2章、WEB开发基础
第3章、HTML
第4章、JavaScript
第5章、CSS</string>
				<key>courseImageUrl</key>
				<string>J3</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>4</integer>
				<key>courseName</key>
				<string>Oracle PL实战
第1章、项目引导
人事信息管理系统项目介绍
第2章、PL/SQL概述
第3章、编写控制结构
第4章、复合数据类型
第5章、游标
第6章、异常处理
第7章、存储过程
第8章、函数
第9章、包
第10章、触发器</string>
				<key>courseImageUrl</key>
				<string>J4</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>5</integer>
				<key>courseName</key>
				<string>Java Web实战</string>
				<key>courseImageUrl</key>
				<string>J5</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>6</integer>
				<key>courseName</key>
				<string>Ajax架构与实践</string>
				<key>courseImageUrl</key>
				<string>J6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CSnum</key>
		<integer>3</integer>
		<key>CSname</key>
		<string>Jave框架</string>
		<key>CScontent</key>
		<array>
			<dict>
				<key>courseID</key>
				<integer>7</integer>
				<key>courseName</key>
				<string>Struts2框架应用与开发
第1章、项目引导
xxx论坛用户管理系统项目介绍
第2章、Struts2 入门
第3章、Struts2中的Action
第4章、Struts2拦截器
第5章、表达式语言OGNL
第6章、Struts2标签库
第7章、类型转换
第8章、国际化
第9章、文件上传和下载
第10章、校验框架</string>
				<key>courseImageUrl</key>
				<string>J7</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>8</integer>
				<key>courseName</key>
				<string>Hibernate开发实战</string>
				<key>courseImageUrl</key>
				<string>J8</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>9</integer>
				<key>courseName</key>
				<string>Spring企业应用开发
第1章、项目引导
用户管理系统项目介绍
第2章、spring概览
第3章、Spring IOC
第4章、Spring AOP
第5章、Spring Persistence</string>
				<key>courseImageUrl</key>
				<string>J9</string>
			</dict>
			<dict>
				<key>courseID</key>
				<integer>10</integer>
				<key>courseName</key>
				<string>JavaEE轻量级方案SSH
第1章、项目引导
用户管理系统项目介绍
第2章、spring概览
第3章、Spring IOC
第4章、Spring AOP
第5章、Spring Persistence</string>
				<key>courseImageUrl</key>
				<string>J10</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
