<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CDid</key>
		<integer>0</integer>
		<key>CDhead</key>
		<string>Java软件工程师</string>
		<key>CDdetail</key>
		<string>如果想学习JAVA技能，成为JAVA软件工程师，那么就从这里开始吧。</string>
		<key>CDimageUrl</key>
		<string>course0.jpg</string>
		<key>CDpeopleNum</key>
		<integer>123</integer>
		<key>CDtime</key>
		<real>53.3</real>
		<key>CDdescription</key>
		<string>JAVA语言多年来一直雄踞世界编程语言前三甲，无论是服务器、客户端，还是终端设备，它都无处不在，而且数量庞大。更有450多万开发者从事着JAVA编程的工作，还没有哪种语言能像JAVA那样发展之快，用途之广。每个JAVA软件工程师用他们的智慧在改变着我们的生活，改变着企业、社会和这个世界。如果想学习JAVA技能，成为JAVA软件工程师，那么就从这里开始吧。</string>
		<key>CDcourseNum</key>
		<integer>11</integer>
		<key>CDvideoNum</key>
		<integer>824</integer>
		<key>CDpracticeNum</key>
		<integer>777</integer>
	</dict>
	<dict>
		<key>CDid</key>
		<integer>1</integer>
		<key>CDhead</key>
		<string>嵌入式软件工程师</string>
		<key>CDdetail</key>
		<string>如果对C语言、ARM、嵌入式OS感兴趣，嵌入式软件工程师培训课程正适合。</string>
		<key>CDimageUrl</key>
		<string>course1.jpg</string>
		<key>CDpeopleNum</key>
		<integer>123</integer>
		<key>CDtime</key>
		<real>53.3</real>
		<key>CDdescription</key>
		<string>如果对C语言、ARM、嵌入式OS感兴趣，嵌入式软件工程师培训课程正适合。</string>
		<key>CDcourseNum</key>
		<integer>11</integer>
		<key>CDvideoNum</key>
		<integer>111</integer>
		<key>CDpracticeNum</key>
		<integer>121</integer>
	</dict>
	<dict>
		<key>CDid</key>
		<integer>2</integer>
		<key>CDhead</key>
		<string>QT软件工程师</string>
		<key>CDdetail</key>
		<string>如果喜欢GUI方面的开发，QT软件工程师的培训课程是首选。</string>
		<key>CDimageUrl</key>
		<string>course2.jpg</string>
		<key>CDpeopleNum</key>
		<integer>123</integer>
		<key>CDtime</key>
		<real>53.3</real>
		<key>CDdescription</key>
		<string>如果喜欢GUI方面的开发，QT软件工程师的培训课程是首选。</string>
		<key>CDcourseNum</key>
		<integer>11</integer>
		<key>CDvideoNum</key>
		<integer>111</integer>
		<key>CDpracticeNum</key>
		<integer>121</integer>
	</dict>
	<dict>
		<key>CDid</key>
		<integer>3</integer>
		<key>CDhead</key>
		<string>C/C++软件工程师</string>
		<key>CDdetail</key>
		<string>如果想成为编程界的大咖，那就从C/C++编程开始吧。</string>
		<key>CDimageUrl</key>
		<string>course3.jpg</string>
		<key>CDpeopleNum</key>
		<integer>123</integer>
		<key>CDtime</key>
		<real>53.3</real>
		<key>CDdescription</key>
		<string>如果想成为编程界的大咖，那就从C/C++编程开始吧。</string>
		<key>CDcourseNum</key>
		<integer>11</integer>
		<key>CDvideoNum</key>
		<integer>11</integer>
		<key>CDpracticeNum</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>CDid</key>
		<integer>4</integer>
		<key>CDhead</key>
		<string>.NET软件工程师</string>
		<key>CDdetail</key>
		<string>想快速构建WEB或桌面程序的应用吗？请尝试从.NET起步吧。</string>
		<key>CDimageUrl</key>
		<string>course4.jpg</string>
		<key>CDpeopleNum</key>
		<integer>123</integer>
		<key>CDtime</key>
		<real>53.3</real>
		<key>CDdescription</key>
		<string>想快速构建WEB或桌面程序的应用吗？请尝试从.NET起步吧。</string>
		<key>CDcourseNum</key>
		<integer>11</integer>
		<key>CDvideoNum</key>
		<integer>11</integer>
		<key>CDpracticeNum</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>CDid</key>
		<integer>5</integer>
		<key>CDhead</key>
		<string>网络工程师
网络工程师
</string>
		<key>CDdetail</key>
		<string>网络工程师用人企业不仅局限在IT企业，非IT企业同样有需求，就业前景非常广阔。</string>
		<key>CDimageUrl</key>
		<string>course5.jpg</string>
		<key>CDpeopleNum</key>
		<integer>123</integer>
		<key>CDtime</key>
		<real>53.3</real>
		<key>CDdescription</key>
		<string>网络工程师用人企业不仅局限在IT企业，非IT企业同样有需求，就业前景非常广阔。</string>
		<key>CDcourseNum</key>
		<integer>11</integer>
		<key>CDvideoNum</key>
		<integer>12</integer>
		<key>CDpracticeNum</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
