<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>courseName</key>
	<string>Java面向对象开发设计</string>
	<key>coursePrice</key>
	<integer>200</integer>
	<key>courseTeacher</key>
	<string>杨老师</string>
	<key>courseDescription</key>
	<string>Java是一种可以撰写跨平台应用软件的面向对象的程序设计语言，是由Sun Microsystems公司于1995年5月推出的Java程序设计语言和Java平台（即JavaSE, JavaEE, JavaME）的总称。该语言充分考虑了互联网时代的特点，在设计上具有跨平台性、面向对象、安全等特性，因此一经推出就受到IT界的广泛重视并大量采用，同时也成为教育界进行程序设计教学的一门重要编程语言，Java 技术具有卓越的通用性、高效性、平台移植性和安全性，广泛应用于个人PC、数据中心、游戏控制台、科学超级计算机、移动电话和互联网，同时拥有全球最大的开发者专业社群。在全球云计算和移动互联网的产业环境下，Java更具备了显著优势和广阔前景。
       本课程从最基础的Java基本语法开始，由浅入深，循序渐进的讲述Java语言编程环境的搭建及Java虚拟机的原理，然后讲述Java编程语言的面向对象的概念。通过大量的实例结合课件详细的讲解Java编程的基本语法，Java面向对象的编程思想和实现方法，异常处理等技术。作为学习Java最基础的课程为学员今后更好的学习Java其它相关技术打下坚实和牢固的基础。通过此课程的学习，使学员能够了解Java语言的特性、编译和运行Java技术应用程序、理解Java编程语言的面向对象特性、异常处理等内容。</string>
	<key>courseImageUrl</key>
	<string>J0.jpg</string>
	<key>courseType</key>
	<string>标准课程</string>
	<key>courseTime</key>
	<integer>566</integer>
	<key>couseIsFavorited</key>
	<integer>1</integer>
</dict>
</plist>
