<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array>
		<dict>
			<key>dcNum</key>
			<string>2.2</string>
			<key>dcName</key>
			<string>java特点</string>
			<key>dcDate</key>
			<string>2014-08-07 13:57</string>
			<key>dcSize</key>
			<string>23.0M</string>
			<key>dcUrl</key>
			<string>promo_full.mp4</string>
			<key>videoID</key>
			<string>1000</string>
		</dict>
	</array>
</array>
</plist>
