<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
	<dict>
		<key>userID</key>
		<string></string>
		<key>userName</key>
		<string></string>
		<key>头像</key>
		<string></string>
		<key>recentLearnTime</key>
		<string></string>
		<key>战斗力</key>
		<string></string>
	</dict>
</array>
</plist>
