<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>login</key>
	<dict>
		<key>userName</key>
		<string>admin</string>
		<key>passWord</key>
		<string>123456</string>
	</dict>
	<key>userInfo</key>
	<dict>
		<key>bcourses</key>
		<array>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>url</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>url</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>url</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>url</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>focus</key>
		<array>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
		</array>
		<key>focused</key>
		<array>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
			<dict>
				<key>url</key>
				<string>该用户的url</string>
				<key>image</key>
				<string>Pink</string>
				<key>name</key>
				<string>.Net程序设计</string>
				<key>describe</key>
				<string>个人描述</string>
			</dict>
		</array>
		<key>lcourses</key>
		<array>
			<dict>
				<key>image</key>
				<string>Cyan</string>
				<key>courseName</key>
				<string>前端开发</string>
				<key>progress</key>
				<real>0.2</real>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>progress</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>Java程序设计</string>
				<key>progress</key>
				<real>0.8</real>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>iOS程序设计</string>
				<key>progress</key>
				<real>0.8</real>
			</dict>
		</array>
		<key>ccourses</key>
		<array>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>url</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>image</key>
				<string>Pink</string>
				<key>courseName</key>
				<string>.Net程序设计</string>
				<key>url</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>questions</key>
		<array>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
		<key>answers</key>
		<array>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>qName</key>
				<string>1</string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
		<key>sex</key>
		<true/>
		<key>name</key>
		<string>这是昵称</string>
		<key>account</key>
		<string>admin</string>
		<key>imageUrl</key>
		<string>Cyan.png</string>
		<key>describe</key>
		<string>this is describing</string>
	</dict>
</dict>
</plist>
